[submodule "gcc"]
	path = gcc
	url = https://github.com/andestech/gcc
	branch = ast-v3_2_4-release-v5
[submodule "newlib"]
	path = newlib
	url = https://github.com/andestech/newlib
	branch = ast-v3_2_4-release-v5
[submodule "glibc"]
	path = glibc
	url = https://github.com/andestech/glibc
	branch = ast-v3_2_4-release-v5
[submodule "gdb"]
	path = gdb
	url = https://github.com/andestech/gdb
	branch = ast-v3_2_4-release-v5
[submodule "binutils"]
	path = binutils
	url = https://github.com/andestech/binutils
	branch = ast-v3_2_4-release-v5
